/* Registro */
.container {
    width: 370px;
    margin: 140px auto;
    background: rgba(20, 20, 20, 0.9);
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 0px 15px #000;
    text-align: center;
}

h2 {
    color: #CF291D;
}

/* Campos de entrada */
input {
    width: 90%;
    padding: 12px;
    margin: 10px 0;
    border: 1px solid #444;
    border-radius: 5px;
    background: #222;
    color: white;
}

.social-register {
    margin-top: 20px;
}

.google-register,
.apple-register {
    width: 100%;
    padding: 12px;
    margin: 5px 0;
    background-color: white;
    color: black;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    transition: all 0.3s ease-in-out;
}

.google-register {
    background-color: #CF291D;
    color: white;
}

.apple-register {
    background-color: #ffffff;
    color: rgb(0, 0, 0);
}

/* Ícones nos botões */
.google-register img,
.apple-register img {
    width: 25px;
    height: 25px;
}

.google-register:hover {
    background-color: #A32117;
}

.apple-register:hover {
    background-color: #333;
}

/* Seção de login */
.login {
    margin-top: 18px;
}

.login p {
    color: white;
}

.login-btn {
    display: inline-block;
    background-color: #CF291D;
    color: white;
    padding: 12px 18px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    transition: background-color 0.3s ease-in-out;
}

.login-btn:hover {
    background-color: #A32117;
}

@media (max-width: 768px) {
    .container {
        width: 90%;
        margin: 120px auto;
        padding: 25px;
    }
}

#registrarBtn {
    background-color: #CF291D;
    /* Cor de fundo */
    color: white;
    /* Cor do texto */
    border: none;
    /* Remover borda */
    border-radius: 5px;
    /* Bordas arredondadas */
    padding: 10px 20px;
    /* Espaçamento interno */
    font-size: 16px;
    /* Tamanho da fonte */
    cursor: pointer;
    /* Cursor de ponteiro */
    transition: background-color 0.3s ease;
    /* Transição suave */
}

#registrarBtn:hover {
    background-color: #A32117;
    /* Cor ao passar o mouse */
}